.game {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #001f3f;
}

.game-board {
  margin-right: 20px; 
}

.game-info {
  background-color: #fff;
  color: #000;
  padding: 10px;
}

.game-info ol {
  list-style-type: none;
  padding-left: 0;
}

.game-info button {
  background-color: transparent;
  border: none;
  color: #000;
  cursor: pointer;
}

.game-info button:hover {
  text-decoration: underline;
}

.status {
  font-size: 2em;
  font-family: 'Arial', sans-serif; 
  color: #fff; 
  text-shadow: 0 0 5px #fff; 
  margin-top: 30px; 
}

